<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="typelist">
    <ul class="tour-type-list">
        <li><a th:href="${@utils.redirectUrl('/tour/list')}" th:text="#{홈}"></a></li>
        <li><a th:href="${@utils.redirectUrl('/tour/list/spot')}" th:text="#{관광지}"></a></li>
        <li><a th:href="${@utils.redirectUrl('/tour/list/culture')}" th:text="#{문화시설}"></a></li>
        <li><a th:href="${@utils.redirectUrl('/tour/list/festival')}" th:text="#{행사/공연/축제}"></a></li>
        <li><a th:href="${@utils.redirectUrl('/tour/list/course')}" th:text="#{여행코스}"></a></li>
        <li><a th:href="${@utils.redirectUrl('/tour/list/leports')}" th:text="#{레포츠}"></a></li>
        <li><a th:href="${@utils.redirectUrl('/tour/list/stay')}" th:text="#{숙박}"></a></li>
        <li><a th:href="${@utils.redirectUrl('/tour/list/shopping')}" th:text="#{쇼핑}"></a></li>
        <li><a th:href="${@utils.redirectUrl('/tour/list/restaurant')}" th:text="#{음식점}"></a></li>
    </ul>
</nav>
</html>
