@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');
/* ul CSS Start*/
ul * {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    width: 80%;
    align-items: center;
}
ul > li{
    height: 140px;
    position: relative;
    padding: 20px 0 !important;
    border-bottom: 1px solid #e6e6e6;
}
.list_thumType .place {
    float: none;
}
.list_thumType > .bdr_nor{
    border-top: 1px solid #e6e6e6;
}
.list_thumType > li img{
    float: left;
    position: relative;
    width: 140px;
    height: 100px;
}
.list_thumType > li .place-tit .place-address{
    display: flex;
}
/* ul CSS End*/