nav .tour-type-list{
    display: flex;
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 수직 방향으로 중앙 정렬 */
}




.mainBn {
    margin-top: 57px;
    height: 454px;
    background-image: url(../../../images/list/key_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}