<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="placeList" class="tour-list ">

    <div class="list-info">
        <h1 th:if="${tourPlaceSearch.contentType!=null}"
            th:text="${#strings.concat(tourPlaceSearch.contentType,' 리스트보기')}"></h1>
    </div>

    <ul class="list_thumType place">

        <li class="bdr_nor" th:each="item, s:${data.items}" th:object="${item}">
        <div class="place-photo">
            <a th:href="*{@utils.redirectUrl('/tour/detail/'+contentId)}"><img class="firstImage" th:src="*{firstImage}" th:alt="이미지" onerror="this.onerror=null; this.src='/images/fallback-image.jpg';"></a>
        </div>
            <div class="place-info">
        <div class="place-tit">
            <a th:href="*{@utils.redirectUrl('/tour/detail/' + contentId)}" th:text="*{title}"></a>
        </div>
                <div class="place-address" th:text="*{address}"></div>

            </div>

            <div class="right ex-info">
                <div class="right-content">
                    <div th:text="*{'조회수 : '+ (@visitRecordRepository.countByContentId(contentId)!=null?@visitRecordRepository.countByContentId(contentId):0)}"></div>
                    <div th:class="${'wishlist-toggle' + (isLogin? '' : ' required-login')}"
                         th:data-seq="*{contentId}"
                         data-type="TOUR"
                         th:classappend="*{@wishListService.check(contentId, 'TOUR')} ? 'on'">♥
                    </div>
                </div>
            </div>
    </li>
</ul>
</div>




</html>
