<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <h1>메인페이지</h1>

<!--메인 배너 -->
    <div class="banner">
        <img src="images/background1.jpg" alt="Banner Image" class="banner-image">
        <img src="images/background2.jpg" alt="Banner Image" class="banner-image">
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>

            </ul>
        </div>
<!--메인 배너 끝-->
    </div>




</main>
</html>