<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{나의_여행_플래너_목록}"></h1>
    <form name="frmSearch" method="GET" th:action="${@utils.redirectUrl('/planner')}" autocomplete="off"
          th:object="${plannerSearch}">
        <div class="planner-top">
            <div><a th:href="${@utils.redirectUrl('/planner/write')}">
                <button class="button" th:text="#{플래너_작성}"></button>
            </a></div>
            <div class="ALL2">
                <input type="text" name="skey" th:field="*{skey}" th:placeholder="#{검색어를_입력하세요.}">
                <button class="button" type="submit" th:text="#{검색하기}"></button>
            </div>
        </div>
    </form>

    <ul class="list-items">
        <li th:if="${items == null || items.empty}" th:text="#{조회된_플래너가_없습니다.}" class="no-data"></li>
        <li th:unless="${items == null || items.empty}" th:each="item : ${items}" th:object="${item}"
            class="planner-list">
            <div class="planner-link">
                <a class="subject" th:href="*{@utils.redirectUrl('/planner/view/' + seq)}" th:text="*{title}"></a>

                <a class="right" th:href="*{@utils.redirectUrl('/board/write/planner_note?num1=' + seq)}">
                    <button class="button" th:text="#{노트작성_하러가기}"></button>
                </a>
            </div>
            <div class="planner-info">
                <div class="duration left">
                    <span class="sDate" th:text="*{'여행 일자 : '+sDate+'~'+eDate}"></span>
                </div>
                <div class="right">
                    <span class="datetime"
                          th:text="*{'작성일 : '+#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></span>
                </div>

            </div>
        </li>
    </ul>

    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</main>
</html>