
/*아래부터 typelist */

.secWrap {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
    text-align: center;
}

.sec1 h3 {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 26px;
    color: #333;
}

.sec1 h3 span {
    color: rgba(245, 161, 25, 0.9);
}

.sec1 .con {
    display: flex;
    justify-content: space-evenly;
}

.sec1 h4 {
    color: #333;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1;
}

.sec1 p {
    text-align: left;
}

.sec1 h5 {
    font-size: 14px;
    color: rgba(245, 161, 25, 0.9);
    margin-top: 25px;
    margin-bottom: 70px;
}

.sec1 .box p {
    text-align: center;
    line-height: 1.5;
}


.sec1 .box img {
    border-radius: 5px;
    border: 2px solid #f0f0f0;
}

.sec1 .box:hover img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* 더 크고 어두운 그림자 */
    transform: scale(1.05); /* 이미지를 약간 확대 */
    transition: all 0.4s ease-in-out;
}








