.wishList-board {
    font-size: 1.25rem;
    width: 100%;
    margin: 10px auto;
}
.wishList-board tr {
    margin-top: 10px;
    height: 1.5rem;
}
.wishList-board th {
    padding: 10px 0;
}

.wishList-board .no-data {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    color: #34495e;
}