<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="items">
    <div class="list-header">
        <div class="list-header-content">
            <div class="container-box">
                <div class="row-center">
                    <div class="list-header-txtbox">
                        <h1 class="list-header-title">여행어때 사용자들이 남긴
                            <br>국내 여행지 사진</br>
                        </h1>
                        <p class="list-header-text">여러분의 특별한 순간을 공유하고, 다른 여행자들과 소중한 추억을 나누는 기회를 가져보세요!
                        <a th:href="${@utils.url('/board/write/' + bid)}">
                            <button class="list-write-btn">나도
                                리뷰 작성하러 가기
                            </button>
                        </a>
                        <div class="review_search_area">
                        </div>
                    </div>
                    <div class="list-header-img-box">
                        <img th:class="gallery_image" th:src="${@utils.url('/images/BoardGallery/gallery.jpg')}" alt=""/>
                    </div>

                </div>
            </div>
            <div></div>
        </div>
        <sbpro-border _ngcontent-jaq-c36="" _nghost-jaq-c35="">
            <div _ngcontent-jaq-c35="" class="svg-border-rounded text-light">
                <svg class="svg" _ngcontent-jaq-c35=""
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34"
                     preserveAspectRatio="none" fill="#E0E0E0">
                    <path _ngcontent-jaq-c35=""
                          d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
                </svg>
            </div>
            <!----><!----><!----></sbpro-border>
    </div>
    <th:block>
        <section class="sec2">
            <div class="secWrap">
                <div th:class="review_main_wright">
                    <h3>최근 여행사진</h3>
                    <p class="tit">다른 여행자들의 리뷰를 참고하여 나만의 여행을 계획해보세요! 그리고 여행의 순간들을 게시판에 사진으로 남겨 보세요!</p>
                </div>


                <div class="row1">
                    <th:block th:if="${!#lists.isEmpty(items)}" th:each="item, status : ${items}" th:object="${item}">
                        <tr th:if="${!#lists.isEmpty(item.editorImages)}" >
                            <div th:class="box">
                                <a th:href="*{@utils.url('/board/view/'+seq)}">
                                    <div class="ImgBox">
                                        <img th:src="*{@utils.getThumbUrl(editorImages[0].fileUrl,348,170)}">
                                        <div th:class="txt">
                                            <p th:class="list-body-a" th:href="*{@utils.url('/board/view/'+seq)}"
                                               th:text="*{subject}"></p>
                                        </div>
                                    </div>
                                    <div class="sec2">
                                        <div class="data">
                                            <!-- 기존 요소들 -->
                                            <ul class="info">
                                                <li>
                                                    <p>조회수: <span class="placeName" th:text="*{viewCount}"></span></p>
                                                </li>
                                                <li>
                                                    <p>댓글수: <span class="withFriend" th:text="*{commentCount}"></span></p>
                                                </li>
                                            </ul>


                                            <div class="header-info2">
                                                <p class="Name2">
                                                    <span class="userName" th:text="*{poster}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </tr>
                    </th:block>
                    <!--            <th:block>-->
                    <!--                <li th:if="${!#lists.isEmpty(items)}" th:text="#{이미지가_작성된_리뷰가_없어요._첫_작성자가_되어보세요.}" class="no-data"></li>-->
                    <!--            </th:block>-->
                </div>
            </div>
        </section>
    </th:block>

</th:block>
</html>