  @import url('common/css/style.css');
/*메인페이지 상단 바탕이미지 시작 */
h1 {
    text-align: center;
    margin-top: 50px;
    color:  var(--primary-color);
}
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    color:
    transition: background-image 1s ease-in-out;
}



p {
    text-align: center;
}

/*메인페이지 상단 바탕이미지 끝 */