/*메인페이지 상단 바탕이미지 시작 */
h1 {
    text-align: center;
    margin-top: 50px;
    color:  var(--primary-color);
}
main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-image 1s ease-in-out;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    min-height: 2000px;
}


p {
    text-align: center;
}

.bg {
    background:url("../images/background1.jpg") no-repeat center top;
    background-size: 100%;
}
.bg.change {
    background:url("../images/background2.jpg") no-repeat center top;
    background-size: 100%;
}
/*메인페이지 상단 바탕이미지 끝 */