<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <div class="site-top">
        <div class="inner">
            <div class="layout-left">
                <a th:href="${@utils.redirectUrl('/')}">
                    <button type="submit" th:text="#{메인화면}"></button>
                </a>
            </div>
            <div class="layout-right">
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="${@utils.redirectUrl('/member/login')}">
                        <button type="submit" th:text="#{로그인}"></button>
                    </a>

                    <a th:href="${@utils.redirectUrl('/member/join')}">
                        <button type="submit" th:text="#{회원가입}"></button>
                    </a>
                </th:block>
            </div>
            <th:block sec:authorize="isAuthenticated()">
                <div th:replace="~{common/_profile_image::image1}"></div>
                <span th:text="${#messages.msg('LOGIN_MSG',loggedMember.userName,loggedMember.email)}"/><br>
                <a th:href="${@utils.redirectUrl('/member/logout')}">
                    <button type="submit" th:text="#{로그아웃}"></button>
                </a>
                <a th:href="${@utils.redirectUrl('/member/mypage')}">
                    <button type="submit" th:text="#{마이페이지}"></button>
                </a>
                <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="${@utils.redirectUrl('/admin')}"
                   target="_blank">
                    <button type="submit" th:text="#{관리자_페이지}"></button>
                </a>
            </th:block>
        </div>
        <!-- 메인메뉴바 시작 !!! -->
        <nav>
            <div class="inner layout-width">
                <div>
                    <h5>
                        <a th:href="${@utils.redirectUrl('/tour/list')}" th:text="#{여행지정보}"></a>
                    </h5>
                </div>
                <div><h5>여행지추천 </h5></div>
                <div><h5>게시판 </h5></div>
                <div><h5>여행지도 </h5></div>
                <div><h5>여행노트 </h5></div>

            </div>
        </nav>
    </div>
    <!-- 메인메뉴바 끝 -->
</header>
</html>