<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <h1>상단 영역</h1>
    <a th:href="@{/}">
        <button type="submit" th:text="#{메인화면}"></button>
    </a>
    <th:block sec:authorize="isAnonymous()">
    <a th:href="@{/member/login}">
    <button type="submit" th:text="#{로그인}"></button>
</a>
    <a th:href="@{/member/join}">
        <button type="submit" th:text="#{회원가입}"></button>
    </a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <span th:text="${#messages.msg('LOGIN_MSG',loggedMember.userName,loggedMember.email)}"/><br>
        <a th:href="@{/member/logout}">
            <button type="submit" th:text="#{로그아웃}"></button>
        </a>
        <a th:href="@{/mypage}">
            <button type="submit" th:text="#{마이페이지}"></button>
        </a>
        <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/admin}" target="_blank">
            <button type="submit" th:text="#{관리자_페이지}"></button>
        </a>
    </th:block>

    <!-- 메인메뉴바 시작 !!! 링크 추후 수정 필요 08/07 -->
    <nav>
        <div class="inner layout-width">

            <div class="dropdown">
                <a href="#" class="ac">
                    <img th:src="@{/images/boardLogo.png}" alt="여행지정보아이콘">
                    여행지 정보
                </a>
                <div class="dropdown-content">
                    <a th:href="@{/board/list/freetalk}">테마별 정보</a>
                    <a th:href="@{/board/list/notice}">지역별 정보</a>
                    <a th:href="@{/board/list/notice}">범주별 검색</a>
                    <a th:href="@{/board/list/notice}">축제</a>
                </div>
            </div>


            <a th:href="@{/random}">
                <img th:src="@{/images/randomLogo.png}" alt="여행지추천아이콘">
                여행지 추천
            </a>

                <div class="dropdown">
                    <a href="#" class="ac">
                        <img th:src="@{/images/boardLogo.png}" alt="게시판 아이콘">
                        게시판
                    </a>
                    <div class="dropdown-content">
                        <a th:href="@{/board/list/freetalk}">자유게시판</a>
                        <a th:href="@{/board/list/notice}">공지사항</a>
                    </div>
                </div>

            <a th:href="@{/random}">
                <img th:src="@{/images/randomLogo.png}" alt="여행지도아이콘">
                여행지도
            </a>

            <div class="dropdown">
                <a href="#" class="ac">
                    <img th:src="@{/images/boardLogo.png}" alt="여행노트아이콘">
                    여행노트
                </a>
                <div class="dropdown-content">
                    <a th:href="@{/board/list/freetalk}">여행노트 조회</a>
                    <a th:href="@{/board/list/notice}">여행노트 작성</a>
                </div>
            </div>

            <!-- Replace with admin check logic -->
            <div th:if="${isAdmin}">
                <a th:href="@{/admin}">
                    <img th:src="@{/images/masterBall.png}" alt="게시판 아이콘">게시판 관리
                </a>
            </div>
        </div>
    </nav>

    <!-- 메인메뉴바 끝 -->
</header>
</html>